 <%= form_for @provider, html: {class: "form-horizontal"} do |f| %>
 <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>
      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="input-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %><br>
    <%= f.label :doctor %>
    <%= f.text_field :doctor, class: "form-control"  %><br>
    <%= f.label :firstlineaddress %>
    <%= f.text_area :firstlineaddress, size:'60x1', class: "form-control"  %><br>
    <%= f.label :citystatezip %>
    <%= f.text_field :citystatezip, class: "form-control"  %><br>
    <%= f.submit "Submit", class: "btn btn-default btn-success" %>
  </div>
<% end %> 