<h1>Provider</h1>
<p><%= @provider.name %> </p>
<p><%= @provider.doctor %> </p>
<p><%= @provider.firstlineaddress %> </p>
<p><%= @provider.secondlineaddress %> </p>
<p><%= @provider.citystatezip %> </p>
<%= link_to "Back", providers_path %> 