 <%= form_for@attorney, html: {class: "form-horizontal"} do |f| %>
 <% if @attorney.errors.any? %>
    <div id="input-group">
      <h2><%= pluralize(@attorney.errors.count, "error") %> prohibited this attorney from being saved:</h2>
      <ul>
      <% @attorney.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="input-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %><br>
    <%= f.label :address %>
    <%= f.text_area :address, size: '60x1', class: "form-control" %><br>
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control" %><br>
    <%= f.label :fax %>
    <%= f.text_field :fax, class: "form-control" %><br>
    <%= f.submit "Submit", class: "btn btn-default btn-success"%>
  </div>
  <% end %> 