<h1>Attorneys</h1>

<% @attorneys.each do |attorney| %> 
<li>
<ul><%=attorney.name%></ul>
</li>

<div class="inline">
<%= link_to "Show", attorney %>
<%= link_to "Edit", edit_attorney_path(attorney) %>
<%= link_to "Delete", attorney, method: :delete, data: { confirm: "are you sure?" } %>
</div>
<% end %> 
<br>
<div><%= link_to "New Attorney", new_attorney_path %> </div>