<h1>Attorney</h1>
<div><%=@attorney.name%></div>
<div><%=attorney.address%></div>
<div>Fax: <%=attorney.fax%></div>
<div>Phone: <%=attorney.phone%></div>
<br>
<div><%= link_to 'Back', attorneys_path %> </div>