<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Attorney</div>
    <div class="panel-body">
      <p><%=@attorney.name%><br>
      <%=@attorney.address%><br>
      <%=@attorney.fax%><br>
      <%=@attorney.phone%></p>
    </div>
</div>
<p><%= link_to 'Back', attorneys_path, class: "btn btn-lg btn-success" %> </p>