<h1>Attorney</h1>
<div><%=@attorney.name%></div>
<ul><%=attorney.address%></ul>
<ul>Fax: <%=attorney.fax%></ul>
<ul>Phone: <%=attorney.phone%></ul>
<br>
<div><%= link_to 'Back', attorneys_path %> </div>