<h1>New Subpoena</h1>
<h2>Providers</h2>
<form controller='mains' action='create' method='post'>

<select name="providers">
	<% @providers.each do |provider| %> 
	<option value=<%=provider.id%>><%=provider.name%></option>
	<% end %> 
</select>

<br>
<div><%= link_to "New Provider", new_provider_path %> </div>
<h2>Attorneys</h2>

<select name="attorneys">
	<% @attorneys.each do |attorney| %> 
	<option value=<%=attorney.id%>><%=attorney.name%></option>
	<% end %>
</select>
 
<br>
<div><%= link_to "New Attorney", new_attorney_path %> </div>
<input type='submit' value='Submit'>
</form>